<h1>Log in</h1>
 <%# <%= link_to "Volver", "/"%>
<%= form_with(url: sessions_path) do |form| %>
    <div>
        <%= form.label :email %>
        <%= form.email_field :email %>
    </div>
    <div>
         <%= form.label :password %>
        <%= form.password_field :password %>
    </div>
    <%= form.submit%>
<%end%> 
    <%= link_to "No tienes cuenta? registrate",new_user_path%> 
    <%= link_to "Olvidaste tu contrasena",password_reset_path%>