<h1>Editar de usuario</h1>
<%= link_to "Volver", "/"%>
<%= form_with model: @user do |form| %>
<% @user.errors.full_messages.each do |error|%>
        <p><%= error%></p>
    <%end%>
<div>
        <%= form.label :img %>
        <%= form.file_field :img %>
    </div>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :lastname %>
        <%= form.text_field :lastname %>
    </div>
    <div>
        <%= form.label :email %>
        <%= form.email_field :email %>
    </div>
    <%= form.submit%>
<%end%>