<h1>CREAR USUARIO</h1>
 <%# <%= link_to "Volver", "/"%>
<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :lastname %>
        <%= form.text_field :lastname %>
    </div>
    <div>
        <%= form.label :email %>
        <%= form.email_field :email %>
    </div>
    <div>
         <%= form.label :password %>
        <%= form.password_field :password %>
    </div>
    <%= form.submit%>
<%end%>