<h1>EDITAR PUBLICACION</h1>
 <%= link_to "Volver", "/"%>
<%= form_with model: @publication do |form| %>
    <% @publication.errors.full_messages.each do |error|%>
        <p><%= error%></p>
    <%end%>
    <%= form.label :image %>
    <%= form.file_field :image %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :content %>
    <%= form.text_area :content %>
    <%= form.submit%>
<%end%>