<div class="w-full">
   <%= link_to "Crear publicaciones", new_publication_path%>
  <div class="flex flex-col items-center gap-5">
  <%@records.each do |publication| %>
    <div class="flex flex-col gap-2">
      <%= link_to user_path(publication.user.id) do%>
        <div class="flex gap-1 items-center">
          <%= image_tag publication.user.img ,class: 'w-7 h-7 rounded-full' if publication.user.img.attached?%>
          <p><%=publication.user.name%></p>
          <p><%=publication.user.lastname%></p>
        </div>
      <%end%> 
      <%= link_to publication_path(publication.id) do %>
        <%= image_tag publication.image ,class: 'w-[25vw] rounded' if publication.image.attached?%>
        <div class="flex flex-col gap-0">
          <p class="max-w-[25vw]"><%= publication.title%></p>
          <small class="max-w-[25vw]"><%= publication.content%></small>
        </div>
      <%end%>
    <hr class="w-full rounded">
    </div>
  <%end%>
  <%== pagy_nav(@pagy) %>
  </div>
</div>