<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRailApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen">
    <header class="h-[5%] px-8 py-2 bg-gray-200">
      <nav class="h-full">
        <div class="h-full flex justify-between items-center">
          <a href="/">
            <p>Logo</p>
          </a>
          <div class="flex gap-4 items-center">
            <%= link_to "Perfil", users_path+"/"+Current.user.id.to_s if Current.user%>
            <%= link_to "Admin", "/motor_admin/" if Current.user && Current.user.rol == "admin"%>
            <%= link_to "Cerrar sesion", sessions_path + "/0", data:{turbo_method: :delete} if Current.user%>    
            <%= link_to "Iniciar sesion", "sessions/new" if !Current.user%>
          </div>
        </div>
      </nav>
    </header>
    <main class="h-[90%] px-8 py-4">
      <%= yield %>
      <%=notice%>
      <%=alert%>
    </main>
  </body>
</html>